.navbar {
    font-size: 60px;
    padding-left: 3vb;
}

#navbar-text {
    font-size: 20px;
    padding-right: 3vb;
    color: rgb(234, 63, 72);
    padding-top: 110px;
}

#websiteDirections {
    margin-top: 5vb;
}

#howToUse {
    font-size: 25px;
}

.mealElements {
    margin-top: 3vb;
}

#navId {
    justify-content: left;
}

.list-group-item {
    border-style: solid;
    color: rgb(13, 51, 70) ;
    background-color: #e3f2fd;
    padding: 1vb;
}

.custom-popup {
    --bs-popover-max-width: 600px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}