.navbar {
    font-size: 60px;
    padding-left: 3vb;
}

#navbar-text {
    font-size: 25px;
    padding-right: 3vb;
}

#websiteDirections {
    margin-top: 5vb;
}

#howToUse {
    font-size: 25px;
}

.mealElements {
    margin-top: 3vb;
}